<MudCard Class="mb-2">
    <div style="position:relative">
        <MudImage Src="@Url"
                  Alt="thumbnail"
                  Style="width:100%; height:auto;" />

        <div style="
            position:absolute;
            bottom:0;
            width:100%;
            padding:16px;
            background:linear-gradient(transparent, rgba(0,0,0,0.8));
            color:white;">

            <MudText Typo="Typo.h6">
                @Title
            </MudText>

        </div>
    </div>
</MudCard>

@code {
    [Parameter] public string Url { get; set; } = string.Empty;

    [Parameter] public string Title { get; set; } = string.Empty;
}
