@using YoutubeDownload.Domain.Commands
@using YoutubeDownload.Blazor.Models

@if (streams.Count > 0)
{
	<h4 class="mt-4 mb-3">🎬 Video Download</h4>

	<div class="table-responsive">
		<table class="table table-hover align-middle">
			<thead class="table-light">
				<tr>
					<th>Format</th>
					<th>Video Codec</th>
					<th>Resolution</th>
					<th>Size</th>
					<th class="text-end"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var stream in streams)
				{
					<YoutubeVideoStreamItem stream="stream" OnClickCallback="() => TriggerEvent(stream)" />
				}
			</tbody>
		</table>
	</div>
}

@code {
	[Parameter]
	public List<StreamViewModel> streams { get; set; } = [];

	[Parameter]
	public EventCallback<StreamViewModel> OnClickCallback { get; set; }

	private async Task TriggerEvent(StreamViewModel stream)
	{
		await OnClickCallback.InvokeAsync(stream);
	}
}
