@page "/youtube"
@rendermode InteractiveServer
@inject IYoutubeAppService Service
@inject DownloadApiClient DownloadClient
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

@using YoutubeDownload.Domain.Commands
@using YoutubeDownload.Blazor.Components.Pages.Youtube.Audio
@using YoutubeDownload.Blazor.Components.Pages.Youtube.Video
@using YoutubeDownload.Blazor.Models

<PageTitle>Youtube Download</PageTitle>

<div class="text-center mb-4">
    <h1 class="fw-bold">YouTube Download</h1>
    <p class="text-muted">Download video and audio streams in your preferred format</p>
</div>

<div class="card shadow-sm p-4 mb-5">

    <div class="input-group input-group">
        <input class="form-control" name="url"
               placeholder="Paste YouTube URL here..."
               @bind="ViewModel.Url" />

        <button class="btn btn-primary" @onclick="Search">
            🔍 Search
        </button>
    </div>

    @if (!string.IsNullOrWhiteSpace(ViewModel.Title))
    {
        <p class="text-muted">Título: @ViewModel.Title</p>
    }

    <YoutubeVideoStreams streams="@ViewModel.VideoStreams" OnClickCallback="(stream) => DownloadAsync(stream)" />
    <YoutubeAudioStreams streams="@ViewModel.AudioStreams" OnClickCallback="(stream) => DownloadAsync(stream)" />
</div>

@code {

    [Parameter]
    public EventCallback<StreamViewModel> OnClickCallback { get; set; }

    public string Message { get; set; } = "";

    public bool IsLoading { get; set; }

    private int _lastReportedPercent = -1;

    private YoutubePageViewModel ViewModel = new();

    private async Task Search()
    {
        ViewModel.ClearStreams();
        await JSRuntime.InvokeVoidAsync("showLoading", "Searching...");
        await ViewModel.SearchAsync(Service);
        await JSRuntime.InvokeVoidAsync("hideLoading");
    }

    private async Task DownloadAsync(StreamViewModel stream)
    {
        await JSRuntime.InvokeVoidAsync("showLoading", "Downloading...");

        var command = new DownloadCommand(
            stream.VideoId,
            stream.Title,
            stream.ContainerName,
            stream.VideoCodec,
            stream.Resolution,
            stream.AudioCodec,
            stream.IsAudioOnly
        );

        var progress = new Progress<double>(async p =>
        {
            var percent = (int)Math.Floor(p * 100);

            if (percent % 1 == 0 && percent != _lastReportedPercent)
            {
                _lastReportedPercent = percent;

                await JSRuntime.InvokeVoidAsync(
                    "showLoading",
                    $"Downloading {percent.ToString("F2")}%");
            }
        });

        var download = await Service.DownloadFileAsync(command, progress, new CancellationToken());

        await JSRuntime.InvokeVoidAsync("hideLoading");

        Navigation.NavigateTo($"/api/download/{download.Id}", true);

    }
}